@model string;

<div class="text-white mb-4" style="position: fixed; right: 25px; bottom: 38px;">
    <a class="btn btn-success" asp-controller="@Model" asp-action="Create">
        <i class="bi bi-plus-circle"></i>
        Add New
    </a>
</div>